.ownerControlPanel {
  padding: 20px 30px 30px 30px;
}

.current-step {
  display: block;
}

#withdraw {
  background: #cccccc;
}

#delete {
  background: #a4bfb6;
}

#addnew {
  background: #668d93;
}